@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.main_frame{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #90EE90;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
body,
 input{
    font-family: "Poppins", sans-serif ;
}
.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 2rem;
}

.innerbox{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.form-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    background-color:#fff ;
}

.carousel{
    position: absolute;
    height: 100%;
    width: 55%;
    top: 0;
    left: 45%;
    background-color:#98FB98;
    border-radius: 2rem;
}

form{
    max-width: 260px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    margin: 0.3rem;
}

.logo h4{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: #151111;
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
}

.heading h6{
    color: #bababa;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}